.button{
    transition:all 0.3s;
}

.button.dark-bg{
    border-color:#fff;
    color:#fff;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary{
    background:$primary;
    border-color:transparent;

    &:hover{
        background-color:$primary-dark;
        border-color:transparent;
    }
}

.button.button-block{
    display:block;
    width:100%;
}

.textbox{
    display:block;
    width:100%;
}
.site-section{
    padding:7rem 0;
}