.floating-section{
    margin-top:-3rem;
    background:#fff;
    padding:3rem;
}

.step-columns{
    text-align:center;
    img{
        width:40%;
        height:auto;
    }

    h4{
        font-weight:700;
        margin-top:1rem;
        margin-bottom:.5rem;
        color:$dark-gray;
    }
    p{
        font-weight:300;
        margin-bottom:0;
    }
}